<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <style type="text/css">
		body{
			background-image:url(../static/img/bg.jpg);
            background-repeat: no-repeat;
			background-size: cover;
            background-attachment: fixed;
		}
	</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/my-login.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
        .BMap_geolocationIconBackground {
            display: none;
        }

        .BMap_stdMpZoom {
            top: 50px !important
        }
    </style>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery-browser.js"></script>
    <script src="js/jquery.imageView.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=hjpHex4OdzQGBwiRpGYLmY0uHkNpKKxj"></script>
    <script type="text/javascript"
        src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
</head>

<body>
    <div class="container">
        <form method="POST" novalidate="">
        {{ form.csrf_token }}
        <br>
        <h1>Add information of a found thing <span class="badge badge-secondary">New</span></h1>
        <br>
        <span>
            {{ form.itemType.label }}
        </span>
        {{ form.itemType }}
        <br>
        <div class="form-group">
            {{ form.itemName.label }}
            {% if form.itemName.errors %}
                {{ form.itemName(class='form-control is-invalid') }}
                {% for error in form.itemName.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {{ form.itemName }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="lostDate">Lost Date</label>
            <input type="date" class="form-control" name="lostDate" id="lostDate" />
        </div>
        <div class="form-group">
            {{ form.contactPerson.label }}
            {% if form.contactPerson.errors %}
                {{ form.contactPerson(class='form-control is-invalid') }}
                {% for error in form.contactPerson.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {{ form.contactPerson }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.emailAddress.label }}
            {% if form.emailAddress.errors %}
                {{ form.emailAddress(class='form-control is-invalid') }}
                {% for error in form.emailAddress.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {{ form.emailAddress }}
            {% endif %}
        </div>

        <div class="form-group">
            <label>Found Location (select 1 spot)</label>
            {% if form.foundLocation.errors %}
                {{ form.foundLocation(class='form-control is-invalid') }}
                {% for error in form.foundLocation.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {{ form.foundLocation }}
            {% endif %}
            <br>
            <div id="imageView_container" class="container"
                style="overflow: hidden; position: relative;height: 600px;padding: 0px; margin-top:10px;width: 100%;">
                <div id="allmap" style="width: 100%; height: 100%; "></div>

            </div>

            <br>



            <script type="text/javascript">
                // 百度地图API功能
                var map = new BMap.Map("allmap", {
                    minZoom: 17.4,
                    maxZoom: 20,
                    enableMapClick: false
                }); // 创建Map实例
                map.centerAndZoom(new BMap.Point(121.220598, 31.293589), 18); // 初始化地图,设置中心点坐标和地图级别
                // 添加地图类型控件
                map.addControl(new BMap.NavigationControl({
                    // 靠左上角位置
                    anchor: BMAP_ANCHOR_TOP_LEFT,
                    // LARGE类型
                    type: BMAP_NAVIGATION_CONTROL_SMALL,
                    // 启用显示定位
                    enableGeolocation: true
                }));
                map.enableScrollWheelZoom(true);
                // 地图上显示点的数量
                var count = []
                // 创建地址解析器
                var geoc = new BMap.Geocoder();
                // 地图点击事件
                map.addEventListener('click', function (e) {
                    if (count.length >= 1) {
                        alert("您最多能添加一个点！");
                        return
                    }
                    var pt = e.point;
                    // 添加点
                    var marker = new BMap.Marker(new BMap.Point(pt.lng, pt.lat));
                    map.addOverlay(marker);
                    var single = []
                    //根据点获取地址
                    geoc.getLocation(pt, function (rs) {
                        console.log("---------")
                        if (rs.surroundingPois.length > 0) {
                            console.log("---2111------")
                            if (rs.surroundingPois.length >= 2) {
                                single.push(rs.surroundingPois[1].title)
                                single.push(rs.surroundingPois[1].point.lng)
                                single.push(rs.surroundingPois[1].point.lat)
                                count.push(single.join("-"))
                                // count.push(rs.surroundingPois[1].point.lng)
                                // count.push(rs.surroundingPois[1].point.lat)
                                console.log(count.join(","))
                                $("#foundLocation").val(count.join(","))
                                return
                            }
                            count.push(rs.surroundingPois[0].title)
                            console.log(count.join(","))
                            $("#foundLocation").val(count.join(","))
                        }
                    })
                });


                extend()
                // 显示地图显示范围
                function extend() {
                    var extent = new Object();
                    extent.minX = "121.210";
                    extent.maxX = "121.230";
                    extent.minY = "31.28";
                    extent.maxY = "31.302";     // 改拖动范围
                    map.addEventListener("dragging", function (type, target) {
                        console.log("1", type, target)
                        if (Number(extent.minY) > map.getBounds().getSouthWest().lat) {
                            map.centerAndZoom(new BMap.Point(121.220598, 31.293589), 18);
                        };
                        console.log("2", Number(extent.maxY), map.getBounds().getNorthEast().lat)
                        if (Number(extent.maxY) < map.getBounds().getNorthEast().lat) {

                            map.centerAndZoom(new BMap.Point(121.220598, 31.293589), 18);
                        }
                        console.log("3", Number(type.point.lng), extent.minX)
                        if (type.point.lng <= extent.minX) {
                            map.centerAndZoom(new BMap.Point(121.220598, 31.293589), 18);
                        }
                        console.log("4", Number(type.point.lng), Number(extent.maxX), map.getBounds()
                            .getNorthEast().lat)
                        if (type.point.lng > Number(extent.maxX)) {
                            map.centerAndZoom(new BMap.Point(121.220598, 31.293589), 18);
                        }
                    });
                }

                $(document).on("click", ".remove", function () {
                    map.clearOverlays()
                    $("#foundLocation").val("")
                })
                function clearOverlays(){
                    map.clearOverlays()
                }
            </script>
        </div>

        <div class="form-group">
            {{ form.complement.label }}
            {{ form.complement }}
        </div>
        <br />
        <div class="form-group m-0">
            <button type="submit" class="btn btn-info btn-lg btn-block" role="'button">
                Submit
            </button>
        </div>
        <br>
<!--            <a href="#" class="btn btn-info btn-lg btn-block" role="button">Submit</a>-->
        <button class="btn btn-info btn-lg btn-block" onclick="clearOverlays()">Clear All</button>
        <br>
        <br>
    </form>
    </div>

</body>

</html>